pipeline/G2W Ibec Copy.json
{
	"name": "G2W Ibec Copy",
	"properties": {
		"activities": [
			{
				"name": "CopyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetBearerToken",
				"description": "Use this Web activity to get bearer token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.getgo.com/oauth/v2/authorize",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Authorization": "Basic eyJraWQiOiJvYXV0aHYyLmxtaS5jb20uMDIxOSIsImFsZyI6IlJTNTEyIn0.eyJscyI6Ijg1NGYwOGY1LTE0OTYtNDcyMy1hMTM0LWNjN2RhMzFmMDIzOSIsIm9nbiI6InB3ZCIsInVyaSI6Imh0dHBzOi8vbG9naW4ubGl2ZS5jb20vb2F1dGgyMF9kZXNrdG9wLnNyZiIsInNjIjoiY29sbGFiOiBpZGVudGl0eToiLCJhdWQiOiJjZTQ1MzNjYy0zNzg2LTRlZTUtYjVlYy03N2VkZTc1YzY2NTEiLCJzdWIiOiI1MjE2MTU5NDE3NzQ1NzkwMjE0IiwianRpIjoiZGYwZjUzMjItM2E2Zi00NmYyLWI3Y2QtNzZkNTExZjUzNmQ1IiwiZXhwIjoxNjI5NzI0ODUzLCJpYXQiOjE2Mjk3MjQyNTMsInR5cCI6ImMifQ.aklsvmQYfnDfI2lJsV6GmBtnbT_IQjcltX57rFZuyQAp1whjWeajOvZdT4xaublE__GwQnthR2dF2kCIDLfUSI8HRwrMlIEBk66pkWw3TBtrS2HCgnBWvYHqMIxzP4ilVcRsu4YehWjVVOD1i-RkY1Rve-vabTf7Zekl41l-930FBDZizsC61LgO1rasBNsjKqLnjeNTe6JlHADYE5JqzUgSIZ6tCYA3W8Gme-5DexmXTI3gEgRzaKaEo-20WiX-7fbR6Pqj_HVhvjWvBMPBBE95ZCpyzCMfpq1w9ciznAZZaTl3M1SxySPwFMNeogQmDpZQgpGLQ-q8uhF6EsiO2A",
						"Connection": "keep-alive"
					},
					"body": "grant_type=authorization_code&code=eyJraWQiOiJvYXV0aHYyLmxtaS5jb20uMDIxOSIsImFsZyI6IlJTNTEyIn0.eyJscyI6Ijg1NGYwOGY1LTE0OTYtNDcyMy1hMTM0LWNjN2RhMzFmMDIzOSIsIm9nbiI6InB3ZCIsInVyaSI6Imh0dHBzOi8vbG9naW4ubGl2ZS5jb20vb2F1dGgyMF9kZXNrdG9wLnNyZiIsInNjIjoiY29sbGFiOiBpZGVudGl0eToiLCJhdWQiOiJjZTQ1MzNjYy0zNzg2LTRlZTUtYjVlYy03N2VkZTc1YzY2NTEiLCJzdWIiOiI1MjE2MTU5NDE3NzQ1NzkwMjE0IiwianRpIjoiZGYwZjUzMjItM2E2Zi00NmYyLWI3Y2QtNzZkNTExZjUzNmQ1IiwiZXhwIjoxNjI5NzI0ODUzLCJpYXQiOjE2Mjk3MjQyNTMsInR5cCI6ImMifQ.aklsvmQYfnDfI2lJsV6GmBtnbT_IQjcltX57rFZuyQAp1whjWeajOvZdT4xaublE__GwQnthR2dF2kCIDLfUSI8HRwrMlIEBk66pkWw3TBtrS2HCgnBWvYHqMIxzP4ilVcRsu4YehWjVVOD1i-RkY1Rve-vabTf7Zekl41l-930FBDZizsC61LgO1rasBNsjKqLnjeNTe6JlHADYE5JqzUgSIZ6tCYA3W8Gme-5DexmXTI3gEgRzaKaEo-20WiX-7fbR6Pqj_HVhvjWvBMPBBE95ZCpyzCMfpq1w9ciznAZZaTl3M1SxySPwFMNeogQmDpZQgpGLQ-q8uhF6EsiO2A"
				}
			}
		],
		"parameters": {
			"SinkContainer": {
				"type": "string"
			},
			"SinkDirectory": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-12-20T11:10:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}