pipeline/validationcheck_pl.json
{
	"name": "validationcheck_pl",
	"properties": {
		"activities": [
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "XMLFilesPresent",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "At least one file",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('GetFileNames').output.childItems), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "divide by zero",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "errorcheck",
								"value": {
									"value": "@div(1,0)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Divide by one",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "errorcheck",
								"value": {
									"value": "string(@div(1,1))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"errorcheck": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-21T11:29:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}